apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-generate-enterprise"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ .Release.Name }}-generate-enterprise"
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}-generate-enterprise"
    spec:
      imagePullSecrets:
      - name: generate-reg-cred
      initContainers:
      - name: "{{ .Release.Name }}-wait-for-mysql"
        image: busybox
        command: ['sh', '-c', 'until nc -z {{ .Release.Name }}-mysql-svc {{ .Values.mysql.port }}; do echo waiting for mysql...; sleep 2; done']
      containers:
      - name: "{{ .Release.Name }}-generate-enterprise-container"
        image: "{{ .Values.generateenterprise.image }}:{{ .Values.generateenterprise.tag }}"
        resources:
          # requests:
          #   cpu: "1"        
          #   memory: "6Gi"    
          limits:
            cpu: "2"           
            memory: "8Gi"   
        env:
          - name: REDIS_URL
            value: "{{ .Release.Name }}-redis:6379"
          - name: VECTORDBHOST
            value: "{{ .Release.Name }}-milvus-svc"
          - name: VECTORDBPORT
            value: {{ .Values.milvus.ports.milvus.port | quote }}
          - name: PUBLICIP
            value: "{{ .Release.Name }}-mysql-svc"
          - name: SQLDBPORT
            value:  {{ .Values.mysql.port | quote }}
          - name: LLMURL
            value: {{ .Values.generateenterprise.llmUrl | quote }}
          - name: LLMMODEL
            value: {{ .Values.generateenterprise.llmModel | quote }}
          - name: LLMAPIKEY
            value: {{ .Values.generateenterprise.llmApiKey | quote }}
        ports:
        - containerPort: {{ .Values.generateenterprise.targetPort }}
        volumeMounts:
          - name: "{{ .Release.Name }}-shared-volume"
            mountPath: /interplay_v2/public/private/llm_manager/files
      volumes:
        - name: "{{ .Release.Name }}-shared-volume"
          persistentVolumeClaim:
            claimName: "{{ .Release.Name }}-shared-pvc"
